.Banner {
    width: 100%;
    position: relative;
    margin-top: 2.5rem;
    height: 223px;
}

.Banner img {
    position: absolute;
    left: 0;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.Banner div {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    font-size: 2.6rem;
    color: white;
}

.Cards {
    padding: 1rem;

}

.Cards a {
    width: 100%;
}

.Cards li {
    margin: 0;
    width: 100%;
}

@media(max-width:769px) {
    .Banner {
        margin-top: 1rem;
        margin: 0;
        height: 6rem;
        position: relative;
    }

    .Banner img {
        height: 100%;
        position: absolute;
        left: 0;
    }

    .Banner div {
        font-size: 24px;
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: initial;
        text-align: initial;
        padding-left: .9rem;
    }

    .Cards li {
        margin: 0;
    }
}