.Banner {
    width: 100%;
    position: relative;
    margin-top: 2.5rem;
}

.Banner img {
    border-radius: 25px;
    width: 100%;
    height: 12rem;
    object-fit: cover;
    filter: brightness(70%);
}

.Banner div {
    position: absolute;
    width: 100%;
    top: 45%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.6rem;
    color: white;
}

.Cards {
    padding: 1rem;

}

.Cards a {
    width: 100%;
}

.Cards li {
    margin: 0;
    width: 100%;
}

@media(max-width:769px) {
    .Banner {
        margin-top: 1rem;
        margin: 0;
        height: 6rem;
        position: relative;
    }

    .Banner img {
        height: 6.2rem;
        position: absolute;
        left: 0;
    }

    .Banner div {
        font-size: 24px;
        position: absolute;
        top: 25%;
        text-align: initial;
        padding-left: .9rem;
    }

    .Cards li {
        margin: 0;
    }
}