.DetailBanner img {
    width: 100%;
    position: relative;
    border-radius: 1.4rem;
    max-height: 20rem;
    object-fit: cover;
}

.Profil {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.HomeProfil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.HomeTitle {
    font-size: 2rem;
    color: #FF6060;
    margin-bottom: 0;
    font-weight: 500;
    text-align: start;
}

.HomeLocation {
    color: #FF6060;
    font-size: 1rem;
    font-weight: 500;
}

.HostProfil {
    display: flex;
    align-items: center;
}

.HostProfil img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-left: 0.5rem;
}

.HostProfil p {
    width: 5rem;
    color: #FF6060;
    font-size: 1rem;
    text-align: end;
    line-height: 1.4rem;
}

.GoodStar {
    color: #FF6060;
}

.BadStar {
    color: #E3E3E3;
}

.TagRate {
    display: flex;
    justify-content: space-between;
    margin-top: 1.1rem;
}

.Rating {
    width: 15%;
    display: flex;
    justify-content: space-around;
}

.Tags {
    display: flex;
    width: 85%;
}

.tag {
    margin-right: 0.5rem;
    background-color: #FF6060;
    padding: 3px 2rem;
    font-size: 0.8rem;
    color: white;
    border-radius: 10px;
}