.HomeDetails {
    height: 100vh;
    margin-top: 1.1rem;
}

/*****Component Style Carrousel*****/
.Carrousel {
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    position: relative
}

.slides {
    width: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1.4rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slide-hidden {
    display: none;
}

.arrow {
    position: absolute;
    width: 32px;
    color: white;
    height: 6rem;
    width: 6rem;
    font-weight: 300;
}

.arrow-hidden {
    visibility: hidden;
}

.arrow:hover {
    cursor: pointer;
}

.arrow-left {
    left: 1rem;
    z-index: 10;
}

.arrow-right {
    right: 1rem;
}

.indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;
    color: white;
    font-size: 1.3rem;
}

.indicator-hidden {
    display: none;
}

/*****Component Style Profil*****/

.Profil {
    display: flex;
    justify-content: space-between;
}

.HomeProfil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.HomeTitle {
    font-size: 2rem;
    color: #FF6060;
    margin-bottom: 0;
    font-weight: 500;
    text-align: start;
}

.HomeLocation {
    color: #FF6060;
    font-size: 1rem;
    font-weight: 500;
}

.HostProfil {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.HostProfil p {
    width: 5rem;
    color: #FF6060;
    font-size: 1rem;
    text-align: end;
    line-height: 1.4rem;
}

.HostProfil img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-left: 0.5rem;
}

/*****Component Style Rating*****/

.GoodStar {
    color: #FF6060;
}

.BadStar {
    color: #E3E3E3;
}

.Rating {
    display: flex;
    justify-content: space-around;
}

/*****Component Style Card*****/

.ProfilRate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 25%; */
}

.ProfilTag {
    width: 80%;
    flex-direction: column;
    justify-content: space-between;

}

.CardInfo {
    margin-top: 1.1rem;
    display: flex;
    justify-content: space-between;
}

/*****Component Style Tags*****/

.Tags {
    display: flex;
    width: 85%;
    flex-wrap: wrap;
}

.tag {
    margin-right: 0.5rem;
    background-color: #FF6060;
    padding: 3px 2rem;
    font-size: 0.8rem;
    color: white;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.CardDetail {
    margin-top: 1.3rem;
}

/*****Component Style DescDropdown*****/

.CardDetail {
    display: flex;
    gap: 10%;
    flex-direction: row;
}

.EquDropdown,
.DesDropdown {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.HeaderDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    padding: 0 1.1rem;
    border-radius: 0.5rem;
}

.Name {
    text-transform: capitalize;
    /* font-size: 1rem; */
    padding: 0.8rem 0;
    margin: 0;
    color: white;
    font-weight: 500;
}

.Arrow {
    width: 2rem;
    height: 2rem;
    color: white;
    cursor: pointer;
}

.rotate {
    transform: rotate(180deg);
}

.Detail {
    text-align: start;
    color: #FF6060;
    background-color: #F6F6F6;
    border-radius: 0.5rem;
    padding: 1.9rem 1.1rem;
    flex: auto;
    line-height: 1.6rem;
    margin: 0;
    position: relative;
    top: 0px;
    opacity: 1;
    animation-duration: 500ms;
    animation-name: goDownDes;
}


@keyframes goDownDes {
    from {
        top: -50px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }

}

.Detail li {
    display: flex;
}

.Detail-hidden {
    position: relative;
    opacity: 0;
    animation-duration: 500ms;
    animation-name: goUpDes;
}

@keyframes goUpDes {
    from {
        top: 0px;
        opacity: 1;
    }

    to {
        top: -50px;
        opacity: 0.5;
    }
}

@media(max-width:769px) {
    .LogoContainer {
        max-width: 145px;
        width: 40%;
    }



    .HeaderDetails {
        padding: 0.3rem;
    }

    .Arrow {
        height: 1.3rem;
    }

    .Detail {
        line-height: 1rem;
        font-size: 0.7rem;
    }

    .Name {
        font-size: 0.7rem;
    }

    .Carrousel {
        display: flex;
        width: 100%;
        height: 255px;
        justify-content: center;
        align-items: center;
        position: relative
    }

    .arrow {
        height: 2rem;
        width: 2rem;
    }

    .arrow-left {
        left: .3rem;
    }

    .arrow-right {
        right: .3rem;
    }

    .indicator {
        display: none;
    }

    .Profil {
        margin-top: 1rem;
    }

    .HomeTitle {
        font-size: 1rem;
    }

    .CardInfo {
        flex-direction: column;
        margin-top: 0;
    }

    .ProfilTag {
        width: 100%;
    }

    .Tags {
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
    }

    .tag {
        font-size: 0.55rem;
        margin-bottom: 1rem;
    }

    .ProfilRate {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        align-items: center;
    }

    .CardDetail {
        flex-direction: column;
    }

    .DesDropdown,
    .EquDropdown {
        width: 100%;
    }
}