header {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.LogoContainer {
    width: 14.5%;
}

.Logo {
    width: 100%
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #FF6060;
}

@media(max-width:769px) {

    .LogoContainer {
        width: 38%;
    }

    ul li {
        font-size: .8rem;
        /* display: inline-block;
        margin-right: 20px; */
    }
}